<h1>Thank you, <%= @dog.adoptor.name %>, for saving <%= @dog.name %>!</h1>

<div class="dogelist">
<ul>
<li>
<p id="img"><%= image_tag(@dog.image) %> </p> 
<p> <%= @dog.name %> </p>
<p> <%= @dog.description %> </p> 
<p> <%= @dog.age %> </p>
<p> <%= @dog.pound_location %> </p>
<p> <%= @dog.phone_number %> </p>
<p><%= link_to 'Want to save more doggies?!', dogs_path %></p>
</li>
</ul>
</div>





